<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>All answers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../styles/main.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <div class="page_title">All questions answers snapshot</div>
        <div class="column_first">
            <div class="rwd_image_container">
                <div id="image">
                    <img src="../answer_snapshot/q1_ans.png" alt=""/>
                </div>
            </div>
            <div class="rwd_image_container">
                <div id="image">
                    <img src="../answer_snapshot/q2_ans.png" alt=""/>
                </div>
            </div>
            <div class="rwd_image_container">
                <div id="image">
                    <img src="../answer_snapshot/q3_ans.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="column_second">
            <div class="rwd_image_container">
                <div id="image">
                    <img src="../answer_snapshot/q4_ans.png" alt=""/>
                </div>
            </div>
            <div class="rwd_image_container">
                <div id="image">
                    <img src="../answer_snapshot/q5_ans.png" alt=""/>
                </div>
            </div>
            <div class="rwd_image_container">
                <div id="image">
                    <img src="../answer_snapshot/q6_ans.png" alt=""/>
                </div>
            </div>
        </div>
    </body>
</html>
