<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Count number of words in file</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="../scripts/count_words.js" type="text/javascript"></script>
        <link href="../styles/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="page_title">Count the number of words</div>
        <div class="file_uploader">
            <input type="file" id="file_upload" accept="text/plain" />
            <button id="button_upload">Upload</button>
        </div>
        <div class="file_uploader">
            <span>Number of words in the file : </span>
            <span id="no_of_words"></span>
        </div>
    </body>
</html>
