<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Directed graph</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="../scripts/directed_graph.js" type="text/javascript"></script>
        <link href="../styles/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="page_title">Directed graph</div>
        <div class="border_class">
            <span>Enter Node value: </span>
            <input type="number" name="Node" id="node_val" value="0"/>
        </div>
        <div class="border_class">
            <span>Enter edge value: </span>
            <input type="number" name="edges" id="edge_val" value="0"/>
        </div>
        <div class="border_class">
                <button id="_add_edges_btn">Create a Node or insert node as a child node</button>
            </div>
       
        <div class="di_graph border_class">
            
        </div>
    </body>
</html>
