<!DOCTYPE html>
<html>
    <head>
        <title>DNS Working</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/libs/jquery/jquery.js" type="text/javascript"></script>
        <link href="../styles/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="page_title">How DNS server working?</div>
        <div class="rwd_image_container">
            <div id="image">
                <img src="../assets/DNS_working.png" alt="how dns work?"/>
            </div>
        </div>
        <div class="border_class">
            <h3>Description</h3>
            <ul>
                <li>DNS stand for Domain name server or name.</li>
                <li>What is does is get the domain name address and find the corresponding IP address associated with it.</li>
                <li>Basically DNS is a standard set of protocol for how computer exchange the data on internet and many private networks. Also known as a TCP/IP.</li>
                <li>Computer and other networks use IP address to route your request to serve the request.</li>
                <li>Once we request the any web site then computer will look all DNS server recursively and find the machine readable IP address.</li>
                <li>Once IP address found computer will direct that IP address over a network and request the response.</li>
                <li>While searching for the correct IP address DNS recursive servers will cache this IP address so in future if same request generate then it will serve from cache.</li>
                <li>So this way request will save the serving time and response will become faster.</li>
            </ul>
        </div>
    </body>
</html>
