<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Give M random elements from array from different position.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="../scripts/random_number.js" type="text/javascript"></script>
        <link href="../styles/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="page_title">Give M random elements from array from different position.</div>
        <div>
            <div class="border_class">
                <span>Enter max array size: </span>
                <input type="number" name="max_num" id="max_val_arry" value="0"/>
            </div>
            <div class="border_class">
                <span>Enter the value that many numbers you want print(M): </span>
                <input type="number" name="random_position" id="random_posiiton" value="0"/>
            </div>
            <div class="border_class">
                <span> This is M random from array</span>
                <span id="rand_elems"></span>
            </div>
            <div class="border_class">
                <button id="_button_random_elements">Get M different elements from different position</button>
            </div>
        </div>
    </body>
</html>