<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Reverse an array</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="../scripts/reverse_array.js" type="text/javascript"></script>
        <link href="../styles/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="page_title">Reverse an array</div>
        <div>
            <div class="border_class">
                <span class="array_name">Number of elements in an array:</span> 
                <span class="array_elements" id="before_reverse"></span>
            </div>
            <div class="border_class">
                <span class="reverse_array_name">Number of elements in an array:</span> 
                <span class="array_elements" id="after_reverse"></span>
            </div>
        </div>
    </body>
</html>
